body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url(plain_background.jpg);
  background-color: white;
  color: whitesmoke;
}

.card{
  margin-top: 16px;
  margin-right:0px;
}

.navbar-dark {
  background-color:#222;
  font-size: 14px;
}

a.navbar-brand{
  font-size: 16px;
}

.navbar-expand-lg{
  padding: 6px 16px;
}

a.nav-link:hover{
  background-color: cornflowerblue;
}

.navbar a{
  color: white !important;
  padding: 8px 24px!important;
}

@media only screen and (min-width: 950px) {
  .navbar-nav {
    float:none;
    margin:0 auto;
    display: block;
    text-align: center;
  }
  
  .navbar-nav > li {
    display: inline-block;
    float:none;
  }

  a.navbar-brand{
    position: absolute;
  }
}